#tb{
	margin-top: 100px;
}
.addnote{
	color:white;
	font-family: 'Sen', sans-serif;
	margin-left: 270px;

}


#colnote{
	background-color:#262422;
	border-radius: 10px;
	padding-bottom: 20px;

}
.notel{
	color:white;
	font-family: 'Sen', sans-serif;

}

#notebod{
	background-image:url(/images/note.jpeg);
	background-size:100%;
	background-repeat: no-repeat;
}